In [ ]:
#Import all the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### I - Loan Dataset

In [ ]:
#Read the dataset 
loanData = pd.read_csv("loan.csv",low_memory=False)

# DtypeWarning: One of the column have mixed types.Hence set low_memory=False.

In [ ]:
# Inspecting Data
loanData.head()

In [ ]:
# View Summary of the DataFrame.
loanData.info()

 ### 2 -Data Handling and Cleaning

#### Data Quality Issues 
 - Column 47 seems to be containing data of multiple dtype
 - At least 24 columns , seems to be of object type.
 - Multiple columns seems to have all null values.

#### Treating Missing Values

In [ ]:
# Find the column names with all null values , so that we can discrad them off for analysis
loanData.columns[loanData.isnull().all()].tolist()

In [ ]:
#Droping columns with all null values
loanData.dropna(axis=1,how='all',inplace=True)

In [ ]:
#Check again the rows with values which are less represented 
loanData.isna().sum()


- Since Employer Title replaces Employer Name for all loans listed after 9/23/2013,Hence it contains inconsistant info. So, we will fill some default value for missing values.
- There will be no use if we fill missing values in emp_length column based on some calculation, hence we will drop respective rows

In [ ]:
# Discrading rows containing emp_length as null
loanData=loanData[~loanData.emp_length.isnull()]

In [ ]:
# Check the value of emp_length where emp_title is missing
loanData['emp_length'][loanData['emp_title'].isnull()].value_counts()

- Since emp_length is greater than 0 for missing emp_title, we can assume that these borrowers run their own small business or similar. Let's check if such title already exists for such borrowers.

In [ ]:
# Let's check the purpose of loan for null values in emp_title
loanData['purpose'][loanData['emp_title'].isnull()].value_counts()

In [ ]:
# Let's confirm we have "Self Employed" title to represent self owned business.
loanData['emp_title'][loanData['emp_title']=="Self Employed"]

In [ ]:
# Fill null value with Self Employed
loanData['emp_title']=loanData['emp_title'].apply(lambda x: "Self Employed" if pd.isnull(x) else x)

loanData['emp_title']

In [ ]:
#Check again the rows with values which are less represented 
loanData.isna().sum()

- The column 'desc' contains lots of null values and seems not useful as we already have separate column 'Purpose'. Similarly  'title' is also not useful .
- The columns 'mths_since_last_record', 'next_pymnt_d', 'mths_since_last_delinq' , and 'mths_since_last_record' more than half of values as null.

Hence we will drop these columns

In [ ]:
#Droping columns with majorly null values.
loanData.drop(columns = ['mths_since_last_record','next_pymnt_d','mths_since_last_delinq','mths_since_last_delinq','desc','title'],inplace=True)
loanData.columns

In [ ]:
loanData.revol_util.value_counts()

- Since 'revol_util' have lots of distinct values , we can't fill null with other value. Hence we will drop the rows having null values .

In [ ]:
# Discrading rows containing revol_util as null
loanData=loanData[~loanData.revol_util.isnull()]

In [ ]:
# Clean the int_rate column and convert this to float
loanData.revol_util= loanData.revol_util.apply(lambda x: x.replace("%","")).astype("float")
loanData.revol_util

In [ ]:
#Check again the rows with values which are less represented 
loanData.isna().sum()

In [ ]:
# Check the values of collections_12_mths_ex_med column
loanData.collections_12_mths_ex_med.value_counts()

In [ ]:
# Check the values of pub_rec_bankruptcies column
loanData.chargeoff_within_12_mths.value_counts()

In [ ]:
# Check the values of tax_liens column
loanData.tax_liens.value_counts()

- As all values are equal to 0, these columns do not seem useful. So we can drop these from Dataframe

In [ ]:
#Droping columns with unsignificant values.
loanData.drop(columns = ['collections_12_mths_ex_med','chargeoff_within_12_mths','tax_liens'],inplace=True)
loanData.columns

In [ ]:
# Check the values of pub_rec_bankruptcies column
loanData.pub_rec_bankruptcies.value_counts()

In [ ]:
# Let's fill null value of the pub_rec_bankruptcies with most occurring value 0.0
loanData['pub_rec_bankruptcies']=loanData['pub_rec_bankruptcies'].apply(lambda x: 0 if pd.isnull(x) else x)

loanData['pub_rec_bankruptcies']

In [ ]:
#checking if There are any duplicate records
loanData.duplicated(['id']).sum()

In [ ]:
loanData.term.value_counts()

In [ ]:
# Clean the term column and convert this to float
loanData.term= loanData.term.apply(lambda x: x.split(" ")[1]).astype("float")
loanData.term

In [ ]:
# Check interest rate type
loanData.int_rate.value_counts()

In [ ]:
# Clean the int_rate column and convert this to float
loanData.int_rate= loanData.int_rate.apply(lambda x: x.replace("%","")).astype("float")
loanData.int_rate

In [ ]:
# 
loanData=loanData[loanData['loan_status']!="Current"]
loanData

In [ ]:
loanData['last_credit_pull_d'].value_counts()

In [ ]:
loanData[loanData['last_credit_pull_d'].isna()]

In [ ]:
# plt.boxplot(loanData.int_rate)
# plt.show()

In [ ]:
#Checking  outliers
loanData[['loan_status']][loanData.int_rate>23]

In [ ]:
#Checking outliers
plt.boxplot(loanData.loan_amnt)
plt.show()

In [ ]:
loanData[loanData.loan_amnt>=31000]

In [ ]:
plt.hist(loanData.loan_amnt,bins=7)
plt.show()

In [ ]:
#Plot a pie chart
loanData['loan_status'].value_counts().plot.pie()
plt.show()